body
{
    margin: 0;
    padding: 0;
    background: rgba(255, 123, 133, 0.76) url("img/star.gif") center ;
    background-size: cover;
    font-family: 'Kreon', serif;
}


header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

img
{
    width: 30%;
}

main
{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

 h1
{
    font-family: granstander clean;
    text-shadow: 2px 0 0 #EB5757, -2px 0 0 #EB5757, 0 2px 0 #EB5757, 0 -2px 0 #EB5757, 1px 1px #EB5757, -1px -1px 0 #EB5757, 1px -1px 0 #EB5757, -1px 1px 0 #EB5757;    
    color: white;
    font-size: 50px;
    margin: 0;
}

h2
{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0;

}

#three
{
    background: white;
    height: 12vh;
    width: 20%;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kreon', serif;
    font-size: 25px;
    color: #EB5757 ;
    font-weight: bold;
}

#one
{
    background: white;
    height: 8vh;
    width: 15%;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kreon', serif;
    font-size: 25px;
    color: #EB5757 ;
    font-weight: bold;
    
}

#two
{
    background: none;
    height: 8vh;
    width: 15%;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kreon', serif;
    font-size: 25px;
    color: white ;
    font-weight: bold;
}

/* h1
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: granstander clean;
    text-shadow: 2px 0 0 #EB5757, -2px 0 0 #EB5757, 0 2px 0 #EB5757, 0 -2px 0 #EB5757, 1px 1px #EB5757, -1px -1px 0 #EB5757, 1px -1px 0 #EB5757, -1px 1px 0 #EB5757;    
    color: white;
}

h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: kreon;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}

button
{
    font-family: kreon;
    border-radius: 10px;
    font-weight: bold;

}

#one
{
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
    color: rgba(255, 123, 133, 0.76) ;
    font-size: 20px;
}

#two
{
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
    background: none;
    color: white;
    font-size: 20px;
}



#three
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#three button
{
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
    border-radius: 20px;
    color: rgba(255, 123, 133, 0.76) ;
    width: 200px;
    height: 70px;
}

section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    margin-top: 50px;
    padding: 5px;
} */

