body {
    margin: 0;
    padding: 0;
    background: rgba(255, 123, 133, 0.76) url("img/funrotate.gif") center bottom;
    background-size: cover;
    font-family: 'Kreon', serif;
}

header.headerMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 30%;
}

main.indexMain {
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main.indexMain h1 {
    font-family: granstander clean;
    text-shadow: 2px 0 0 #EB5757, -2px 0 0 #EB5757, 0 2px 0 #EB5757, 0 -2px 0 #EB5757, 1px 1px #EB5757, -1px -1px 0 #EB5757, 1px -1px 0 #EB5757, -1px 1px 0 #EB5757;
    color: white;
    font-size: 50px;
    margin: 0;
}

main.indexMain h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0;
}

#three {
    background: white;
    height: 12vh;
    width: 20%;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kreon', serif;
    font-size: 25px;
    color: #EB5757;
    font-weight: bold;
}

#four {
    background: white;
    height: 12vh;
    width: 20%;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kreon', serif;
    font-size: 25px;
    color: #EB5757;
    font-weight: bold;
    display: none;
}

#one {
    background: white;
    height: 8vh;
    width: 15%;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kreon', serif;
    font-size: 25px;
    color: #EB5757;
    font-weight: bold;
}

#two {
    background: none;
    height: 8vh;
    width: 15%;
    border-radius: 15px;
    border: 3px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kreon', serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

section.indexSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

div.discover {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.discover a {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.discover p {
    margin: 0 0;
    color: white;
}

img#discover {
    width: 100%;
    margin: 30px 30px;
}

.responsive {
    display: none;
}


/*FOOTER START///////////////////*/

.footer {
    padding: 10px 0 5px 0;
    background-color: rgba(255, 123, 133, 0.76);
    color: white;
    box-shadow: 0px -3px 4px 0px white;
}

.footer img {
    width: 120px;
    height: 50px;
}

.footer .title {
    text-align: left;
    color: #fff;
    font-size: 20px;
}

.footer .payment {
    list-style-type: none;
}

.footer .payment li {
    list-style-type: none
}

.footer .payment li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    float: left;
    padding: 10px 10px;
}

.payment li {
    list-style-type: none
}

.social-pet li {
    display: inline-block;
    /* margin-right: 10px; */
}

.social-pet li a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 30px;
    background-color: #3a5a95;
    color: #fff;
}

.social-pet li:nth-child(2) a {
    background-color: #57aced;
}

.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}

.social-pet li:nth-child(4) a {
    background-color: #6b27b2;
}

.social-pet li a:hover {
    background-color: rgba(255, 123, 133, 0.76);
}

.footer ul {
    padding: 0;
    margin: 0;
}